
@import '../../local/_colors.scss';

.BTN-send-testimony {
  width: fit-content;
  grid-area: send-testimony-box;
  align-self: center;
  font-weight: bold;
  color: #3E0A80;

  text-decoration: underline;
}
.BTN-hamburger-menu {
  text-decoration: underline;
}

.BTN-search {
  //background: url("../../../media/icons/search.jpg") no-repeat center;
  text-decoration: underline;
}

.BTX-lang-changer {
  text-decoration: underline;
}

.BTX-to-all-testimonies {
  font-style: normal;
  font-size: 15px;
  text-decoration-line: underline;

  color: map_get($colors, BTX-to-all-testimonies);
}

.BTX-back {
  $size: 24px;

  height: $size;
  width: $size;
  margin-left:6px;
  background-color: #212121;
  //background-image: url("../../../media/icons/backArrow.png");
}
