@import '../../local/_colors.scss';
@import '../../local/_spaces.scss';

.BTN-send-testimony {
    width: fit-content;
    grid-area: send-testimony-box;
    align-self: center;
    font-weight: bold;
    color: map_get($colors, blue-200);
    font-size: 15px;
    line-height: 20px;
    text-decoration: underline;
    margin: map_get($spaces, small);
    background: transparent;
}

.BTN-hamburger-menu {
    background: url('../../media/icons/hamburger.png') no-repeat center;
    text-decoration: underline;
}

.BTN-search {
    background: url('../../media/icons/Union.png') no-repeat center;
    text-decoration: underline;
}

.BTN-lang-changer {
    background: url('../../media/icons/globe.png') no-repeat center;
    text-decoration: underline;
    margin-left: 7px;
}

.BTN-to-all-testimonies {
    font-style: normal;
    font-size: 15px;
    text-decoration-line: underline;

    color: map_get($colors, blue-200);
}

.BTX-back {
    $size: 20px;
    height: $size;
    width: $size;
    margin-left: 6px;
    background-repeat: no-repeat;
    background-image: url('../../media/icons/backArrow.svg');
}

.BTX-back-white {
    $size: 24px;
    background-repeat: no-repeat;
    height: 31px;
    width: $size;
    margin-left: 6px;
    background-image: url('../../media/icons/backWhite.png');
}

.BTX-help2 {
    $size: 24px;
    background-repeat: no-repeat;
    height: 25px;
    width: 36px;
    margin-left: 20%;
    float: left;
    background-color: white;
    background-image: url('../../media/icons/Union1.png');
}
.footercustom {
    height: 70px;
    position: sticky;
    > button {
        background-color: white;
    }
    .helpright {
        margin-left: 20%;
        float: left;
        margin-top: 9px;
    }
    .shareleft {
        float: right;
        margin-right: 20%;
        margin-top: 4px;
    }
    background-color: white;
}
.BTX-share {
    margin-top: 5px;
    $size: 24px;
    background-repeat: no-repeat;
    height: 20px;
    width: 36px;
    margin-right: -15px;
    background-color: white;
    background-image: url('../../media/icons/share.png');
}

.AccessibilityButton {
  height: 32px;
  width: inherit;
  position: fixed;
  left: 8px;
  top: 54px;
  background-color: white;
  border-radius: 50px;
  z-index: 3;
  cursor: pointer;
}