.BTN-send-testimony {
  width: fit-content;
  grid-area: send-testimony-box;
  align-self: center;

  text-decoration: underline;
}

.BTN-hamburger-menu {
  text-decoration: underline;
}

.BTN-search {
  text-decoration: underline;
}

.BTX-lang-changer {
  text-decoration: underline;
}
