@import url('https://fonts.googleapis.com/css?family=Assistant:Extra-light, Light, Regular, Semi-bold, bold, Extra-bold');
@import '../local/_colors.scss';

* {
    margin: 0;
    padding: 0;
    border: 0;
    direction: rtl;
    font-family: 'Assistant', serif;

    h1, h2, h3, h4, h5, h6, p, span {
        color: map_get($colors, grey-800);
    }
}

body {
    width: 100%;
}

button {
    cursor: pointer;
}
