@import url('https://fonts.googleapis.com/css?family=Assistant:Extra-light, Light, Regular, Semi-bold, bold, Extra-bold');

* {
  margin: 0;
  padding: 0;
  border: 0;
  direction: rtl;
  font-family: 'Assistant', serif;
}

body {
  //height: 100%;
  width: 100%;
}

button {
  cursor: pointer;
}