$colors: (
        black: black,
        white: white,
        purple-100: #F0EDFF,
        purple-200: #EADFF9,
        purple-300: #D3A7F1,
        purple-400: #8430AB,
        purple-500: #724BE4,
        purple-600: #7F5DE3,
        purple-700: #987CEC,
        purple-800: #8757EB,
        purple-900: #653DC2,
        purple-1000:#EBE7FF,
        blue-100: #D8EBFD,
        blue-150: #E1EFFC,
        blue-180: #C2E1FF,
        blue-200: #3690E4,
        blue-250: #2467A8,
        blue-300: #125A9E,
        blue-400: #D5EAFF,
        blue-500: #A6D3FF,
        grey-100: #F6F7F9,
        grey-200: #DEDEE3,
        grey-300: #E5E5E5,
        grey-400: #8097AA,
        grey-500: #202020,
        grey-600: #CACCCC,
        grey-700: #888A8A,
        grey-800: #212121,
        grey-900: #808080,
        grey-1000: #E6E6E6,
        grey-1100: #454545,
        grey-1200: rgba(32, 32, 32, 0.7),
        grey-1300: rgba(255, 255, 255, 0.25),
        grey-1400: #EBEDF2,
        grey-1500: #DDE1ED,
);
