$colors: (
  //texts & titles:
        text-black: black,
        text-dark-gray: darkgray,
        text-light-gray: lightgray,
        text-white: white,
        text-tag: #125A9E,

  //buttons & tags:


  //backgrounds:
    global-background: white,
    header-background: #000000,
    tag-background: #D8EBFD,
);