$colors: (
        black: black,
        white: white,
        purple-100: #F0EDFF,
        purple-200: #EADFF9,
        purple-300: #D3A7F1,
        purple-400: #8430AB,
        purple-500: #724BE4,
        blue-100: #D8EBFD,
        blue-150: #E1EFFC,
        blue-180: #C2E1FF,
        blue-200: #3690E4,
        blue-250: #2467A8,
        blue-300: #125A9E,
        blue-400: #D5EAFF,
        blue-500: #A6D3FF,
        grey-100: #F6F7F9,
        grey-200: #DEDEE3,
        grey-300: #E5E5E5,
        grey-400: #8097AA
);
