$colors: (
  //texts & titles:
        text-black: black,
        text-dark-gray: darkgray,
        text-light-gray: lightgray,
        text-white: white,
        text-light-purple: #D3A7F1,
        text-tag: #125A9E,

  //buttons & tags:


  //backgrounds:
    global-background: white,
    header-background: #000000,
    tag-background: #D8EBFD,

  //effects
        image-shadow: rgba(83, 19, 113, 0.85),
);