@import '../local/_colors.scss';
@import '../local/_spaces.scss';
@import '../local/_breakpoints.scss';

.AppHeader {
    width: 100%;
    height: 46px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: map_get($colors, black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 27px;
    line-height: 35px;

    span {
        color: map_get($colors, white);
    }

    & > svg {
        margin: 18px;
        cursor: pointer;
    }

    .Menu {
        width: 0;
        background-color: white;
        color: map_get($colors, black);
        height: 640px;
        z-index: 4;
        position: fixed;
        left: 0;
        top: 0;
        transition: 0.3s;
        display: flex;
        flex-direction: column;

        &.Visible {
            width: 288px;
        }

        .Title {
            padding: 8px 28px 16px;
            background-color: map_get($colors, purple-200);
            color: inherit;

            .MainTitle {
                color: inherit;
                font-size: 32px;
                line-height: 42px;
            }

            .SubTitle {
                color: inherit;
                font-size: 18px;
            }
        }

        .Items {
            color: inherit;
            padding: 28px;
            flex: 1;
            width: fit-content;

            div {
                color: inherit;
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 20px;

                &.Bold {
                    color: map_get($colors, purple-500);
                }
                &.EndSection {
                    padding-bottom: 20px;
                    border-bottom: 1px solid  map_get($colors, black);
                }
            }
        }
    }
}

.tags-filter-container {
    display: flex;
    margin: 0 0 map_get($spaces, medium);
    flex-wrap: wrap;

    .tag-filter,
    .more-tags {
        padding: 3px map_get($spaces, small);
        color: map_get($colors, blue-300);
        border-radius: 20px;
        border: 0;
        text-align: center;
        margin: 0 0 map_get($spaces, x-small) map_get($spaces, x-small);

        &:hover{
            cursor: pointer;
        }
    }

    .tag-filter {
        background-color: map_get($colors, blue-100);
        &.selected {
            background-color: #97ccff;
        }
    }

    .more-tags {
        border: 1px solid map_get($colors, blue-300);
        background-color: transparent;
        color: map_get($colors, blue-300);
    }
}

.const-text {
    color: map_get($colors, black);
    margin: 46px 0 map_get($spaces, small);
    padding-top: map_get($spaces, small);
    grid-area: const-text;
    justify-self: center;
    align-self: flex-start;
    text-align: center;
    font-size: 18px;
}

.more-testimonies {
    box-sizing: border-box;
    padding: 18px 24px 32px;

    >h1 {
        font-weight: normal;
        font-size: 22px;
        color: #212121;
    }
}

.videoStory {
    width: 100%;
}

label {
    padding: 0 10px;
}

.test {
    width: 100% !important;
    height: calc(100vh - 36px) !important;
}

footer {
    display: flex;
    text-align: center;
    flex-direction: column;

    li {
        list-style-type: none;
        color: map_get($colors, white);
        font-style: normal;
        font-size: 15px;
    }

    li a {
        color: map_get($colors, white);
    }

    li a:link {
        text-decoration: none;
    }

    div {
        background-color: map_get($colors, black);
    }

    .footer-menu h1 {
        font-weight: normal;
        color: map_get($colors, purple-400);
        margin: 15px;
        font-size: 35px;
    }

    ul:first-of-type {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-menu ul li {
        flex: 50%;
        margin: 8px auto;
    }

    .emergency-dial-wrapper.purple {
        background: map_get($colors, purple-400);
    }

    .emergency-dial-wrapper li,
    .footer-menu {
        display: flex;
        flex-direction: column;
    }

    .emergency-dial-wrapper li span p {
        color: white;
        max-width: 130px;
    }

    .emergency-dial-wrapper ul,
    .legal-bar ul {
        display: flex;
        justify-content: center;
    }

    ul,
    .emergency-dial-wrapper li,
    .legal-bar li {
        margin: 10px;
    }

    .legal-bar ul span {
        margin: auto 5px;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    footer {
        
        ul,
        .emergency-dial-wrapper li,
        .legal-bar li {
            margin: 10px 0.5vw;
        }
    }
}

.stories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    grid-gap: 10px;
}

@media only screen and (max-width: map_get($breakpoints, mobile)) {
    .stories {
        grid-template-columns: 1fr;
    }
}