@import '../local/_colors.scss';
@import '../local/_spaces.scss';
@import '../local/_breakpoints.scss';

.AppHeader {
    width: 100%;
    height: 46px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: map_get($colors, grey-800);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 27px;
    line-height: 35px;

    span {
        width: 100%;
        text-align: center;
    }

    span a {
        color: map_get($colors, white);
        text-decoration: none;
    }

    & > svg {
        margin: 18px;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
    }

    .DarkFilter {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.6;
        z-index: 3;
    }

    .Menu {
        width: 0;
        background-color: white;
        color: map_get($colors, black);
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        transition: 0.3s;
        display: flex;
        flex-direction: column;
        z-index: 4;

        &.Visible {
            width: 288px;
        }

        .Title {
            padding: 8px 28px 16px;
            background-color: map_get($colors, purple-200);
            color: inherit;

            .CloseIcon {
                cursor: pointer;
            }

            .MainTitle {
                color: inherit;
                font-size: 32px;
                line-height: 42px;
            }

            .SubTitle {
                color: inherit;
                font-size: 18px;
            }
        }

        .Items {
            color: inherit;
            padding: 28px;
            flex: 1;
            width: fit-content;

            div {
                color: inherit;
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 20px;

                &.Bold {
                    color: map_get($colors, purple-500);
                }
                &.EndSection {
                    padding-bottom: 20px;
                    border-bottom: 1px solid map_get($colors, black);
                }
                &.Clickable {
                    cursor: pointer;
                }
            }
        }
    }
}

.Content {
    flex: 1;
    padding-top: 62px;
    @include desktop {
        width: 65%;
        max-width: 1170px;
        margin: auto;
        display: flex;
        flex-direction: column;
        color: map_get($colors, grey-800);
    }
}

.const-text {
    color: map_get($colors, black);
    margin: 0 auto map_get($spaces, small);
    grid-area: const-text;
    justify-self: center;
    align-self: flex-start;
    text-align: center;
    font-size: 18px;

    @include desktop {
        display: none;
    }
}

.more-testimonies {
    box-sizing: border-box;

    .loader-container {
        margin: 20px 0 0 0;
    }

    > h1 {
        font-weight: normal;
        font-size: 22px;
        color: #212121;
        margin-bottom: map_get($spaces, x-small);
    }

    @include breakpoint-1 {
        padding: 18px 24px 32px;
    }

    @include desktop {
        padding: 18px 0 32px;
    }
}

.videoStory {
    width: 100%;
}

label {
    padding: 0 10px;
}

.test {
    width: 100% !important;
    height: calc(100vh - 36px) !important;
}

footer {
    display: flex;
    text-align: center;

    li {
        list-style-type: none;
        color: map_get($colors, white);
        font-style: normal;
        font-size: 15px;
    }

    div a,
    u {
        color: map_get($colors, white);
    }

    a:link {
        text-decoration: none;
    }

    div {
        background-color: map_get($colors, grey-800);
    }

    .footer-inner {
        width: 100%;
        flex: 3;

        ul {
            margin: 10px;
        }

        ul:first-of-type {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .copyright {
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 90px;
            margin-top: 25px;
            font-size: 15px;
            align-items: center;
            margin-bottom: 20px;
            div {
                padding-top: 4px;
                padding-bottom: 4px;
            }

            .facebook-no2violence {
                color: map_get($colors, white);
                display: flex;
                svg {
                    padding-left: 5px;
                }
            }

            div:nth-child(2) {
                color: map_get($colors, white);
                a {
                    color: #3690E4;
                    text-decoration: underline;
                }
                .separator {
                    padding: 5px;
                }
            }

            span {
                margin: auto 5px;
                color: map_get($colors, white);
            }

            li {
                margin: 10px;
            }
        }
    }

    .footer-menu {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 123px;
            height: 76.88px;
            margin-top: 30px;
        }

        ul {
            max-width: 320px;
            margin: 0 auto;
            margin-top: 40px;
            margin-bottom: 30px;

            li {
                flex: 100%;
                margin: 8px auto;
            }
        }
    }

    .footer-title {
        color: map_get($colors, white);
        font-size: 40px;
        align-self: center;
    }

    .phone-section {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 56px;
        background: map_get($colors, purple-600);
    }

    .phone-number {
        font-size: 24px;
        color: map_get($colors, grey-100);
        padding-left: 2%;
    }

    .phone-text {
        font-size: 12px;
        width: 70px;
        margin-left: 10px;
        color: map_get($colors, grey-100);
    }
}

.stories {
    display: grid;
    grid-gap: 10px;

    @include breakpoint-1 {
        grid-template-columns: 1fr;
    }

    @include desktop {
        grid-template-columns: 1fr 1fr;
    }
}

.disabled-area {
    pointer-events: none;
}

.content-wrapper {
    align-self: center;

    .align-right {
        align-self: start;
    }

    @include breakpoint-1 {
        padding: 0 24px;
        h1 {
            font-size: 20px;
        }

        h2,
        p,
        label {
            font-size: 16px;
        }

        textarea,
        input {
            font-size: 16px;
            ::placeholder {
                font-size: 16px;
            }
        }
    }

    @include desktop {
        h1 {
            font-size: 24px;
        }

        h2,
        p,
        label {
            font-size: 20px;
        }

        textarea,
        input {
            font-size: 20px;
            ::placeholder {
                font-size: 20px;
            }
        }
    }

    @include breakpoint-3 {
        width: 80%;
        max-width: 800px;

        &.full-width {
            width: 100%;
        }
    }
}

.submit-button {
    width: 100%;
    height: 48px;
    background-image: linear-gradient(
        94.5deg,
        #3691e5 -6.72%,
        #566be4 20.51%,
        #7845e3 96.66%
    );
    font-weight: normal;
    font-size: 22px;
    color: map_get($colors, white);
    border-radius: 80px;
    max-width: 300px;
    margin-top: map_get($spaces, small);

    &:focus {
        outline: none;
    }
}

.divider {
    width: 100%;
    text-align: center;
    font-size: 22px;
    margin-bottom: map_get($spaces, small);
}

.actions {
    @include breakpoint-1 {
        display: flex;
        justify-content: center;
    }
}
