@import '../local/_colors.scss';
@import '../local/_spaces.scss';
@import '../local/_breakpoints.scss';

.AppHeader {
    width: 100%;
    height: 46px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: map_get($colors, black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 27px;
    line-height: 35px;

    span {
        color: map_get($colors, white);
    }

    & > svg {
        margin: 18px;
        cursor: pointer;
    }

    .DarkFilter {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.6;
        z-index: 3;
    }

    .Menu {
        width: 0;
        background-color: white;
        color: map_get($colors, black);
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        transition: 0.3s;
        display: flex;
        flex-direction: column;
        z-index: 4;

        &.Visible {
            width: 288px;
        }

        .Title {
                padding: 8px 28px 16px;
                background-color: map_get($colors, purple-200);
                color: inherit;

                .CloseIcon {
                    cursor: pointer;
                }

                .MainTitle {
                    color: inherit;
                    font-size: 32px;
                    line-height: 42px;
                }

                .SubTitle {
                    color: inherit;
                    font-size: 18px;
                }
            }

        .Items {
                color: inherit;
                padding: 28px;
                flex: 1;
                width: fit-content;

                div {
                    color: inherit;
                    font-size: 18px;
                    line-height: 24px;
                    margin-bottom: 20px;

                    &.Bold {
                        color: map_get($colors, purple-500);
                    }
                    &.EndSection {
                        padding-bottom: 20px;
                        border-bottom: 1px solid  map_get($colors, black);
                    }
                    &.Clickable {
                        cursor: pointer;
                    }
                }
            }
    }
}

.Content {
  padding-top: 62px;
    @include breakpoint-2 {
        width: 85%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.const-text {
    color: map_get($colors, black);
    margin: 0 auto map_get($spaces, small);
    grid-area: const-text;
    justify-self: center;
    align-self: flex-start;
    text-align: center;
    font-size: 18px;

    @include breakpoint-2{
        display: none;
    }
}

.more-testimonies {
    box-sizing: border-box;

    .loader-container {
        margin: 20px 0 0 0;
    }

    >h1 {
        font-weight: normal;
        font-size: 22px;
        color: #212121;
        margin-bottom: map_get($spaces, x-small);
    }

    @include breakpoint-1{
        padding: 18px 24px 32px;
    }

    @include breakpoint-2{
        padding: 18px 0 32px;
    }
}

.videoStory {
    width: 100%;
}

label {
    padding: 0 10px;
}

.test {
    width: 100% !important;
    height: calc(100vh - 36px) !important;
}

footer {
    display: flex;
    text-align: center;

    li {
        list-style-type: none;
        color: map_get($colors, white);
        font-style: normal;
        font-size: 15px;
    }

    div a, u {
        color: map_get($colors, white);
    }

    a:link {
        text-decoration: none;
    }

    div {
        background-color: map_get($colors, black);
    }

    .footer-inner {
        width: 100%;
        flex: 3;

        ul {
            margin: 10px;
        }

        ul:first-of-type {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .copyright {

            display: flex;
            justify-content: center;
            padding-bottom: 10px;

            span {
                margin: auto 5px;
            }

            height: 45px;
            align-items: center;

            li {
                margin: 10px;
            }
        }
    }

    .footer-menu {
        display: flex;
        flex-direction: column;

        ul {
            max-width: 320px;
            margin: 5px auto;

            li {
            flex: 100%;
            margin: 8px auto;
            }
        }
 
    }

    .footer-title {
        color: map_get($colors, purple-500);
        font-size: 40px;
        align-self: center;
    }

    .phone-section{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 56px;
        background: map_get($colors, purple-600);
    }

    .phone-number{
        font-size: 24px;
        color: map_get($colors, grey-100);
        padding-left: 2%;
    }

    .phone-text{
        font-size: 12px;
        width: 70px;
        color: map_get($colors, grey-100);
    }
}


.stories {
    display: grid;
    grid-gap: 10px;

    @include breakpoint-1 {
        grid-template-columns: 1fr;
    }

    @include breakpoint-2 {
        grid-template-columns: 1fr 1fr;
    }
}

.disabled-area{
    opacity: 0.7;
    pointer-events: none;
}

.submit-button {
    width: 100%;
    height: 48px;
    background-image: linear-gradient(94.5deg, #3691E5 -6.72%, #566BE4 20.51%, #7845E3 96.66%);
    font-weight: normal;
    font-size: 22px;
    color: map_get($colors, white);
    border-radius: 80px;
  }
