@import url('https://fonts.googleapis.com/css?family=Assistant:regular,bold,italic&subset=latin,latin-ext');

@import '../local/_breakpoints.scss',
        '../local/_colors.scss',
        '../local/_common.scss';

@import '../config/_reset.scss';
@import '../config/partials/_buttons';

@import "storiesCarrousel";
@import "storiesGallery";
@import "story-page-container";
@import "testimonyForm";

.app {
  background-color: map_get($colors, global-background);
  box-sizing: border-box;
  padding: 0 24px;
  height: 100%;
  display: grid;
  grid-template-areas: "header"
                        "const-text"
                        "carrousel"
                        "send-testimony-box"
                        "gallery";
  grid-template-columns: auto;
  grid-template-rows: 46px 56px 232px 63px 1fr;
}
