@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;600&display=swap');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import '../config/_reset.scss';
@import '../local/_breakpoints.scss';
@import '../local/_colors.scss';
@import '../local/_common.scss';
@import '../local/_spaces.scss';
@import '../config/partials/_buttons';

@import "./Tag";
@import "./TagsFilter";
@import 'Carousel';
@import 'storiesGallery';
@import 'storyPageContainer';
@import 'testimonyForm';
@import "./HelpButton";
@import './StoryHightlight';
@import 'CarouselItem';
@import 'WarningSigns';
@import 'About';

#root {
    background-color: map_get($colors, grey-100);
}

iframe {
    width: 100%;
    height: 37vh;
}
