@import "src/scss/local/_spaces.scss";
@import "src/scss/local/_colors.scss";

.CarruselItemWrapper {
  width: 260px;
  height: 260px;
  position: relative;
  border-radius: map_get($spaces, x-small);
  overflow: hidden;
  margin: 0 map_get($spaces, x-small);
  box-shadow: 3px 3px 3px -3px rgba(0,0,0,0.5);
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;

    background-image: linear-gradient(
                    180deg,
                    rgba(83, 19, 113, 0) 0%,
                    rgba(83, 19, 113, 0.7) 100%
    ),
    linear-gradient(
                    180deg,
                    rgba(108, 160, 209, 0.2) 0%,
                    rgba(98, 156, 212, 0.689583) 97.92%,
                    rgba(122, 146, 169, 0.7) 100%
    );
  }

  > img {
    width: inherit;
    height: inherit;
  }
}

.CarruselItemTextWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: map_get($spaces, small);
  z-index: 1;

  .CarruselItemQuote {
    color: map_get($colors,white);
    font-weight: normal;
    font-size: 18px;
  }

  .CarruselItemBy {
    color: map_get($colors, purple-300);
    font-weight: normal;
    font-size: 13px;
    margin-bottom: map_get($spaces, small);
  }

  .TagsList {
    > span {
      font-size: 13px;
      color: #9FCEFA;
      margin-left: map_get($spaces, x-small);;
    }
  }
}

.slick-active {
  .CarruselItemWrapper {
      width: 300px;
      height: 300px;
  }
}