.app-header-wide {
  height: 47px;
  background-color: map_get($colors, black);
  width: 100%;
  justify-content: space-between;

  @include breakpoint-1 {
    display: none;
  }
  @include desktop {
    display: flex;
  }

  a,
  span {
    color: map_get($colors, white);
    text-decoration: none;
  }

  .section {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 map_get($spaces, small);
  }

  .right-section {
    @extend .section;
  }

  .left-section {
    @extend .section;
  }

  .pipe {
    margin: 0 map_get($spaces, x-small);
    color: map_get($colors, grey-400);
  }

  .title {
    font-size: 27px;
    line-height: 35px;
  }

  .phone {
    color: map_get($colors, purple-500);
    font-size: map_get($spaces, medium);
    line-height: 31px;
  }
}