.app-header-wide {
    height: 47px;
    background-color: map_get($colors, grey-800);
    display: flex;
    width: 100%;
    justify-content: space-between;

    a,
    span {
        color: map_get($colors, white);
        text-decoration: none;
    }

    .section {
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0 map_get($spaces, small);
    }

    .right-section {
        @extend .section;
    }

    .left-section {
        @extend .section;
        .pipe {
            margin: 0 map_get($spaces, medium);
        }
    }

    .pipe {
        margin: 0 map_get($spaces, x-small);
        color: map_get($colors, grey-400);
    }

    .title {
        font-size: 27px;
        line-height: 35px;
    }

    .phone {
        color: map_get($colors, white);
        background-color: map_get($colors, purple-500);
        font-size: map_get($spaces, medium);
        border-radius: 4px;
        padding: 0 map_get($spaces, x-small);
        display: flex;
        align-items: center;

        .text {
            font-size: 15px;
            margin-left: 8px;
            font-weight: bold;
        }
    }
}
