.help_button {
  width: 64px;
  height: 64px;
  position: fixed;
  bottom: 30px;
  left: 16px;
  background: map_get($colors, purple-500);
  border-radius: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 6px 20px rgba(109, 48, 171, 0.36), 0px 0px 3px rgba(0, 0, 0, 0.13);
  cursor: pointer;

  .heart_shape {
    position: absolute;
    left: 35.94%;
    right: 36.94%;
    top: 18.75%;
    bottom: 53.12%;
  }

  .hours_shape {
    position: absolute;
    width: 31px;
    height: 12px;
    left: 16px;
    top: 38px;
  }

  @include desktop{
    display: none;
  }
}