.logged-in-view-container {
    display: grid;
    grid-template-columns: 67% 33%;
    grid-auto-flow: row;
    justify-content: space-between;    
    min-height: 102vh; //This is important for infinite-scroll to work
}

.login-card {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 286px;
    height: 306px;
    transition: 0.3s;
    border-radius: 12px; 
    background-color: map_get($colors, white);
    padding: 30px;
    
    > h3{
        font-size: 20px;
        text-align: center;
        color: map_get($colors, grey-500);
        padding-bottom: 38px;
    }
}


.login-page {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-image: linear-gradient(94.5deg, #3691E5 -6.72%, #566BE4 20.51%, #7845E3 96.66%);
}


.login-input-wrap{
    position: relative;
    padding-bottom: 38px;

    > span{
        position: absolute;
        top:0;
        right: 0;
        font-size: 16px;
        line-height: 1.5;
        color: map_get($colors, grey-700);
        transition: .5s;
        pointer-events: none;
    }

    > input{
        display: block;
        width: 100%;
        background: transparent;
        font-size: 16px;
        color: map_get($colors, grey-500);
        line-height: 1.2;
        outline: none;
        border: none;
        overflow: visible;
        padding-top: 3px;
        padding-bottom: 8px;
        border-bottom: 2px solid map_get($colors, grey-600);

        &:focus~span,
        &:valid~span {
            width: 100%;
            top:-20px;
            right: 0;
            padding-bottom: 28px;
            font-size: 13px;
            color: map_get($colors, purple-500);
        }

        &:focus,
        &:valid {
            border-bottom: 2px solid map_get($colors, purple-500); 
        }
    }
 
}

.separator{
    padding: 17px;
}

.stories-list-admin{
    padding: map_get($spaces, small);
    border-top: 1px solid map_get($colors, grey-200);
    grid-template-columns: 1fr;
}

.stories-admin{
    grid-template-columns: 1fr;
}


.stories-to-moderated-container{
    background-color: map_get($colors, white);
    padding: 40px 40px;

    > h1{
        color: map_get($colors, grey-800); 
        padding-bottom: 40px;
        font-size: 22px;
    }
}

.stories-to-moderated-table{ 
    text-align: right;
    border-collapse: collapse;
    width: 100%;
    
    > thead, tr, th {
        font-size: 13px;
        line-height: 17px;
        color: map_get($colors, purple-700);
        padding-left: 40px;
        padding-bottom: 5px;
        border-bottom: 1px solid white;
    }

    > tbody, tr, td {
        padding: 17px 0 17px 40px;
        font-size: 15px;
        color: map_get($colors, grey-900);
        border-bottom: 1px solid map_get($colors, grey-1000);
    }

    >tbody{
        cursor: pointer;
    }
}

.pagination-ul{
    direction: ltr;
    justify-content: center;
}

.pagination-root{
    padding: 40px;
}

.edit-icon-container{
    position: relative;
}

.edit-icon{
    position: absolute;
    top: 17;
    left: 0;
}