@import '../local/_colors.scss';
.story-page-content {
  margin-bottom: 16px;
  div {
    &:not(:last-of-type) {
      margin-bottom: 16px;
    }
  }
}

.story-text{
  white-space:pre-wrap;
}

#story-page-container {
  border-bottom: 1px solid map_get($colors, grey-200);
  
  .quote {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 21px;

    > h1 {
      font-size: 22px;
      font-weight: 600;
      color: map_get($colors, black);
    }

    > h2 {
      font-size: 15px;
      font-weight: bold;
      color: map_get($colors, purple-500);
      margin-top: 10px;
      margin-bottom: 4px;
    }

    div > span {
      font-size: 16px;
    }
  }

  .border-separator{
    border-bottom: 1px solid map_get($colors, grey-200);
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  .story-video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}