@import '../local/_breakpoints.scss', '../local/_colors.scss',
    '../local/_common.scss';

@import '../config/_reset.scss';
@import '../config/partials/_buttons';

.stories-gallery-container {
  grid-area: gallery;
  display: flex;
  flex-direction: column;

  > h1 {
    font-weight: normal;
    font-size: 22px;
    color: #212121;
    margin-bottom: 27px;
  }

  > h6 {
  }
}
