section {
  width: 100%;
  padding: 0 16px 0 14px;

  > figure {
    $size: 33px;

    width: $size;
    height: $size;
    border-radius: 50%;
  }

  > p {
    color: #828282;

    > span {
      color: #B3B3B3;
    }
  }
}