@import '../local/_colors.scss';
@import '../local/_spaces.scss';

.stories-gallery-container {
  grid-area: gallery;
  display: flex;
  flex-direction: column;
  padding: map_get($spaces, small);
  border-top: 1px solid map_get($colors, grey-200);

  > h1 {
    font-weight: normal;
    font-size: 22px;
    color: #212121;
    margin-bottom: map_get($spaces, x-small);
  }
}