@import '../local/_colors.scss';

#testimony-form {
  background-color: map_get($colors, grey-300);
  box-sizing: border-box;
  padding: 6px 24px 30px;
  display: flex;
  flex-direction: column;
  ::placeholder {
    color:map_get($colors, purple-400);
}
  
  header {
    position: static;
    margin: 10px 0;
    background-color: map_get($colors, grey-300);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    
    > h1 {
      color: map_get($colors, black);
      font-weight: normal;
      font-size: 22px;
      font-family: 'Assistant';
      margin-right: 20px;
    }

    .back-arrow-icon {
      $size: 22px;
      height: $size;
    }
  }

  input {
    background-color: map_get($colors, grey-300);
  }

  .multiply-answer-area{
      background-color: map_get($colors, white);

  .question, .question label, label{
    
      margin-bottom: 4px;
    }
      textarea{
        width: 100%;
      }
       margin-bottom: 16px;
  }

  .submit-button {
    width: 100%;
    height: 48px;
    background-image: linear-gradient(94.5deg, #3691E5 -6.72%, #566BE4 20.51%, #7845E3 96.66%);;
    font-weight: normal;
    font-size: 22px;
    color: map_get($colors, white);
    border-radius: 80px;
  }
  
  .submitted-success-heading{
    color: map_get($colors, black);
    font-weight: normal;
    font-size: 22px;
    font-family: 'Assistant';
    margin-top: 25px;
  }
  
  .submitted-success-text{
    font-weight: normal;
    font-size: 18px;
    max-width: 100%;
    margin: 25px 0 25px;
  }

  > h3 {
    font-weight: normal;
    font-size: 15px;
    max-width: 90%;
    color: map_get($colors, black);
    margin: 17px 0 10px;
  }

  > form {
   * {
     resize: none;
   }

    label div {
      width: 271px;
      margin-top: 12px;
      resize: none;
      border-bottom: 1px solid map_get($colors, purple-400);
    }

    p {
       margin-bottom: 16px;
    }
    .question, .question label, label{
      font-size: 15px;
      font-weight: bold;
      color: map_get($colors, black);
      margin-bottom: 25px;
      padding: 0;
      margin-left: 22px;

    }

      input[type="radio"]{
      margin-left:10px
  }

  }
  .optionContainer li:hover,
  .optionContainer .highlight {
    background: map_get($colors, purple-500);
    color: map_get($colors, white);
  }
}