@import '../local/_colors.scss';

.testimony-form {
  margin-bottom: map_get($spaces, medium);

  &.submitted{
    text-align: center;
  }

  h1 {
    margin-bottom: map_get($spaces, small);
  }

  h2 {
    font-weight: normal;
    margin-bottom: map_get($spaces, small);
  }

  #addStoryForm {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > div {
      width: 100%;
    }

    & > .question {
      margin-bottom: map_get($spaces, x-large);

      & > label {
        font-weight: bold;
        padding: 0;

        div {
          margin-top: map_get($spaces, small);
          input {
            width: 100%;
            max-width: 400px;
            line-height: 28px;
            background: transparent;
            border-bottom: 1px solid map_get($colors, purple-500);
            &:focus {
              outline: none;
            }
          }
        }
      }

      & > div {
        margin-top: 16px;
      }

      .radio-input-wrapper {
        padding: 0;
        color: map_get($colors, black);
        margin-left: map_get($spaces, x-small);

        input {
          margin-left: map_get($spaces, x-small);
        }
      }
    }

    .multiply-answer-area {
      &:not(:last-of-type){
        margin-bottom: 28px;
      }

      .question {
        padding: 0;
        font-weight: bold;
        display: block;
        margin-bottom: map_get($spaces, x-small);
      }

      .textarea-wrapper {
        border-radius: 8px;
        background: map_get($colors, white);
        padding: 8px;
      }

      textarea {
        width: 100%;
        background: transparent;
        resize: vertical;

        &:focus {
          outline: none;
        }
      }
    }
  }
}