.warning-signs {
  h1 , h2, p {
    margin-bottom: map_get($spaces, small);
  }

  .divider {
    width: 100%;
    text-align: center;
    font-size: 22px;
    margin-bottom: map_get($spaces, small);
  }

  p {
    strong {
      color: map_get($colors, purple-500);
    }
  }

  .phones {
    strong {
      display: block;
      color: map_get($colors, black);
    }
  }
}